.container {
    height: 92vh;
    width: 100vw;
}

.desscription_image {
    height: 200px;
}

.descriptionTitle {
    font-size: 4vh;
}

.descriptionText {
    font-size: 2vh; 
    color:aquamarine ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}